body {
  background: var(--clr-cream);
}

#card {
  background: var(--clr-white);
  border-radius: 0.625rem;
}

#card__mobile-image {
  border-radius: 0.625rem 0.625rem 0 0;
}

#main__add-button {
  cursor: pointer;
  background: var(--clr-dark-cyan);
  border: none;
  border-radius: 0.5rem;
}
